{% extends 'base.html' %}

{% block title %}<title>{{ post['title'] }}</title>{% endblock %}
{% block header %}
  <h1 id="blog_h1">自强不息，止于至善</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">更新于 {{ post['updated'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', uuid=post['uuid']) }}">Edit</a>
        {% endif %}
        阅读({{ post['read_cnt'] }})
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
{% endblock %}

