<!doctype html>
<title>{% block title %}{% endblock %}银之湖</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript">
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?891b90461ddf899c6abce3fcfe1f17f1";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<nav>
  <h1><a href="{{ url_for('index') }}">银之湖</a></h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<div class="w-1000 copyright">
  Copyright &copy; 2018-2018    <strong><a href="//www.yinhu.tech/" target="_blank">银之湖</a></strong>&nbsp;
    <strong><a href="//www.yinhu.tech/" target="_blank">yinhu.tech</a></strong> All Rights Reserved. 备案号：沪ICP备18019376号
   </div>
</div>

