<!doctype html>
{% block title %}<title>湖风雨晚晴</title>{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript">
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?891b90461ddf899c6abce3fcfe1f17f1";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-8525261611793383",
    enable_page_level_ads: true
  });
</script>
<nav>
  <h1><a href="{{ url_for('index') }}">湖风雨晚晴</a></h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<div id="base_foot">
  Copyright @ 2018-2018 &nbsp; <strong><a href="//www.yinhu.tech/" target="_blank">湖风雨晚晴</a></strong>&nbsp;
    <strong><a href="//www.yinhu.tech/" target="_blank">www.yinhu.tech</a></strong> All Rights Reserved. 备案号：沪ICP备 18019376 号
   </div>
</div>

